@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    width: 100%;
    background: rgb(250, 250, 250);
    position: relative;
    font-family: 'roboto', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(223, 233,223);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding: 5px 0;
    z-index: 4;
}

.navbar::-webkit-scrollbar {
    display: none;
}


.nav-wrapper {
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.brand-img {
    height: 100%;
    min-width: 110px;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
    position: sticky;
    min-width: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-bar {
    position:sticky;
    left: 50%;
    transform: translateX(-33%);
    border: none;
    background: rgb(240, 240, 240);
    height: 22px;
    width: 6rem;
    background-image: url(./Imágenes/Lupa.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: .1rem;
    cursor: pointer;
}

.search-bar::placeholder {
    color: rgba(0, 0, 0, 0.5);
}


.busqueda {
    display: inline;
    width: auto; 
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
}

.nav-items {
    height: 29px;
    width: 30%;
    position: sticky;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding-left: 1rem;
    overflow: hidden;
    overflow-x: scroll;
}

.nav-items::-webkit-scrollbar {
    display: none;
}


.icon {
    height: 100%;
    width: auto;
    cursor: pointer;
    margin: 0 5px;
    display: inline-block;
}

#fotoperfil {
    width: 30px;
    border-radius: 50%;
    background-image: url(Imágenes/Samori.jpg);
    background-size: cover;
}

.status {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wrapper {
    width: 40%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 95% 5%;
    grid-gap: 30px;
}

.estados {
    display: flex;
    flex-direction: column;
}

.status-wrapper {
    width: 100%;
    height: 90px;
    background: none;
    border: none;
    border-radius: 2px;
    padding: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.status-wrapper::-webkit-scrollbar {
    display: none;
}

.status-card {
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    column-span: all;
}

.foto-de-usuario {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}

.foto-de-usuario img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
}

.usuario {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: rgba(0, 0, 0, 0.5);

}

.gallery {
    background-color: rgb(250, 250, 250);
    columns: 3 250px;
    column-span: all;
}

.gallery-img {
    max-width: 100%;
    max-height: 100%;
    min-width: 80%;
    border-radius: 10px;
    border: none;
    margin-top: .6em;
    margin-bottom: .6em;
}

#gallery {
    position: relative;
    width: 68%;
    margin: auto
  }

.gallery-img:hover {
    backdrop-filter: blur(10px);
    filter: blur(3px);
    transition: 0.2s ease;
}

.content-img {
    position:sticky;
    width: 100%;
    height: 40%;

}

.content-img div {
    position: absolute;
    bottom: 0;
    border-radius: 3px;
    background: black;
    color: white;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.2s linear; 
    transition: visibility 0s, opacity 0.2s linear;
   }

   .content-img:hover{
    cursor: pointer;
   }

   .content-img:hover div{
    width: auto;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
   }